<h1>You found Secret Santa <%= @santa.name %></h1>
<h3>Participants</h3>
<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Email</th>
  <tr>
  <% @santa.participants.each do |participant| %>
    <tr>
      <td><%= participant.name %></td>
      <td><%= participant.email %></td>
    </tr>
  <% end %>
</table>
<% if @santa.state == 'editable' %>
  <%= link_to 'Edit this group', edit_santa_path(@santa), class: 'btn btn-primary' %>
  <% if !@santa.match %>
    <%= link_to 'Secret Santasize this group', match_santa_path(@santa), class: 'btn btn-primary', confirm: "Are you sure? You can no longer edit after you've matched."%>
  <% else %>
    <% @santa.show_matches.each do |pair|%>
    <ul class='list-group santa-match'>
      <% pair.each_with_index do |individual, index| %>
        <li class='list-group-item'><%= index == 0 ? "Giver: #{individual}" : "Receiver: #{individual}" %></li>
      <% end %>
    </ul>
    <% end %>
  <% end %>
<% elsif @santa.state == 'locked' %>
  <%= link_to 'Notify Matches', email_santa_path(@santa), class: 'btn btn-primary' %>
<% else %>
    <p>This Secret Santa is already in progress</p>
<% end %>
